/* U-tube */

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.iframe-container iframe{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Lehesektsioonid */
.container {
    width: 100%;
    height: 100%;
}

.leftpane {
    width: 18%;
    height: 100%;
    float: left;
    border-collapse: collapse;
    padding-top: 1rem;
}

.middlepane {
    width: 64%;
    height: 100%;
    float: left;
    border-collapse: collapse;
    padding-top: 3rem;
}

.rightpane {
    width: 18%;
    height: 100%;
    position: relative;
    float: right;
    border-collapse: collapse;
    padding-top: 1rem;
}
