label {
	font-size: 16px;
	display: block;
	color: white;
}

.suggest-form-field {
	width: 15rem;
}

.suggest-form-textarea {
    box-sizing: border-box;
	width: 75%;
	height: 20rem;
	margin-top: 10px;
}