@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');

html {
    font-size: 16px;
}

body {
    font-family: "Hammersmith One", sans-serif;
    background: white;
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #333333;
    color: #F0F1ED;
    border-bottom: 1px solid #F0F1ED;
    z-index: 2;
}

.navbar-item, .navbar-logo {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    border-right: 1px solid #F0F1ED;
    padding: 10px;
}

.navbar-item:last-child {
    border-right: none;
    border-left: 1px solid #F0F1ED;
}

.navbar-item:hover, .sidebar-item:hover {
    background: #327a35;
    cursor: pointer;
}

.navbar-logo {
    margin: 0;
    height: 100%;
}

.navbar-selected {
    background: #4CAF50;
}

.navbar-left {
    align-self: flex-start;
}

.navbar-right {
    margin-left: auto;
}

.user-menu {
    cursor: pointer;
}

/* Sidebar */

.sidebar {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 200px;
    height: 100%;
    top: 46px;
    right: 0;
    background: #333333;
    color: #F0F1ED;
    border-left: 1px solid #F0F1ED;
    z-index: 2;
}

.sidebar-item {
    padding: 10px;
    border-bottom: 1px solid #F0F1ED;
    font-size: 15px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
}

.sidebar-avatar {
    width: 35px;
    height: 35px;
    border-radius: 15px;
    object-fit: cover;
}

.sidebar-avatar img {
    width: 35px;
    height: 35px;
    border-radius: 15px;
}

.sidebar-username {
    margin-top: -25px;
    margin-bottom: 7px;
    margin-left: 45px;
}

/* Page */
.page {
    width: 100%;
    height: 100%;
    margin-top: 46px;
}

#dimmer {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Lingid */
a {
    text-decoration: none;
    color: #F0F1ED;
}