@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');

html {
    font-size: 16px;
}

body {
    font-family: "play", sans-serif;
    background:url("../img/bkg1.jpg");
    -webkit-animation:100s scroll infinite linear;
    -moz-animation:100s scroll infinite linear;
    -o-animation:100s scroll infinite linear;
    -ms-animation:100s scroll infinite linear;
    animation:100s scroll infinite linear;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow: auto;
}

@-ms-keyframes scroll{
    100%{
        background-position:0px -3000px;
    }
}

@keyframes scroll{
    100%{
        background-position:0px -3000px;
    }
}

.img-logo {
    width: 225px;
    height: 45px;
    background-image: url("../img/ut_G.png");
    background-size: 100%;
}

@font-face {
    font-family: "play";
    src: url("../fonts/Play-Regular.ttf");
    font-style: normal;
    font-weight: 100;
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #202525;
    color: #F0F1ED;
    border-bottom: 1px solid #505050;
    z-index: 2;
}

.navbar-item {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    border-right: 1px solid #505050;
    padding: 10px;
}

.navbar-item:last-child {
    border-right: none;
    border-left: 1px solid #505050;
}

.navbar-item:hover {
     background: #2E3334;
     cursor: pointer;
}

.sidebar-item:hover {
    background: #913E3F;
    cursor: pointer;
}

.navbar-logo {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-right: 1px solid #505050;
    background: #743c3d
}

.navbar-selected {
    background: #743c3d;
}

.navbar-left {
    align-self: flex-start;
}

.navbar-right {
    margin-left: auto;
}

.user-menu {
    cursor: pointer;
}

/* Sidebar */

.sidebar {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 200px;
    height: 100%;
    top: 46px;
    right: 0;
    background: #573a39;
    color: #F0F1ED;
    border-left: 1px solid #505050;
    z-index: 2;
}

.sidebar-item {
    padding: 10px;
    border-bottom: 1px solid #505050;
    font-size: 15px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
}

.sidebar-avatar {
    width: 35px;
    height: 35px;
    border-radius: 15px;
    object-fit: cover;
}

.sidebar-avatar img {
    width: 35px;
    height: 35px;
    border-radius: 15px;
}

.sidebar-username {
    margin-top: -25px;
    margin-bottom: 7px;
    margin-left: 45px;
}

/* Page */
.page {
    width: 100%;
    height: 100%;
    margin-top: 46px;
}

#dimmer {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Lingid */
a {
    text-decoration: none;
    color: #F0F1ED;
}

/* Modal */
.modal {
    background: rgba(0, 0, 0, .4);
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 10%;
    width: 100%;
    z-index: 10000;
    background: none;
}

.visible {
    display: block;
}

.modal-inside {
    background: none;
    border: 1px solid darkorange;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    min-height: 100px;
    vertical-align: middle;
    width: 70%;
    height: 80%;
    position: relative;
    padding: 15px 5%;
    overflow: scroll;
}

/* Filtrid */
.filterButton {
    border: 1px solid darkorange;
    padding: 0.5rem;
    color: black;
    background: white;
    margin: 0.2rem;
}

.filterButton:hover {
    background: orange;
}

.rankFilters {
    width: auto;
}

.checkBoxButton {
    border: 1px solid darkorange;
    padding: 0.5rem;
    color: white;
}

.selectedButton {
    background: darkorange;
    color: white;
}