html {
    font-size: 16px;
}

body {
    font-family: "play", sans-serif;
    background:url("../img/bkg1.jpg");
    -webkit-animation:100s scroll infinite linear;
    -moz-animation:100s scroll infinite linear;
    -o-animation:100s scroll infinite linear;
    -ms-animation:100s scroll infinite linear;
    animation:100s scroll infinite linear;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
}
body::-webkit-scrollbar {
    width: 0.8em; 
}
body::scrollbar { 
    width: 0.8em; 
}

body::-webkit-scrollbar-track { 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
body::scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

body::-webkit-scrollbar-thumb { 
    background: #573a39;
}
body::scrollbar-thumb {
    background: #573a39;  
}

a {
    text-decoration: none;
    color: #F0F1ED;
}

hr {
    border: none;
    border-bottom: 2px solid #505050;
}

input[type="text"] {
    border: 1px solid #743c3d;
    padding: 0.5rem;
    color: white;
    background: #333;
    margin: 0.2rem;
    font-family: "play";
}

textarea {
    border: 1px solid #743c3d;
    padding: 0.5rem;
    color: white;
    background: #333;
    margin: 0.2rem;
    font-family: "play";
}

input[type="button"] {
    cursor: pointer;
    padding: 0.5rem;
    border: none;
    color: white;
    background: #333;
    margin: 0.2rem;
    font-family: "play";
}

input[type="button"]:hover {
    background: #573a39;
    color: white;
}

@keyframes scroll{
    100%{
        background-position:0px -3000px;
    }
}

@font-face {
    font-family: "play";
    src: url("../fonts/Play-Regular.ttf");
    font-style: normal;
    font-weight: 100;
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 2.75rem;
    top: 0;
    left: 0;
    background: #202525;
    color: #F0F1ED;
    border-bottom: 1px solid #505050;
    z-index: 2;
}

.navbar-item {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    border-right: 1px solid #505050;
    padding: 10px;
    height: 1.50rem;
}

.navbar-item:hover {
    background: #2E3334;
    cursor: pointer;
}

.navbar-item:last-child {
    border-right: none;
    border-left: 1px solid #505050;
}

.navbar-logo {
    width: 10rem;
    border-right: 1px solid #505050;
    background: #743c3d;
    background-image: url("../img/ut_G.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}

.navbar-steamicon {
    margin: 0;
    width: 1rem;
    background: #202525;
    background-image: url("../img/steamicon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.navbar-steamicon:hover {
    background: #2E3334;
    margin: 0;
    width: 1rem;
    background-image: url("../img/steamicon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.navbar-logo:hover {
    background: #913E3F;
    background-image: url("../img/ut_G.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}

.navbar-selected {
    background: #743c3d;
}

.navbar-left {
    align-self: flex-start;
}

.navbar-right {
    margin-left: auto;
}

.user-menu {
    cursor: pointer;
}

/* Sidebar */

.sidebar {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 15rem;
    height: 100%;
    top: 2.75rem;
    right: 0;
    background: #573a39;
    color: #F0F1ED;
    border-top: 1px solid #505050;
    border-left: 1px solid #505050;
    z-index: 2;
}

.sidebar-item {
    padding: 10px;
    border-bottom: 1px solid #505050;
    font-size: 15px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
}

.sidebar-overflow {
    display: none;
}

.sidebar-overflow-last {
    border-bottom: 5px solid #505050;
}

.sidebar-item:hover {
    background: #913E3F;
    cursor: pointer;
}

.sidebar-avatar {
    width: 35px;
    height: 35px;
    border-radius: 15px;
    object-fit: cover;
}

.sidebar-avatar img {
    width: 35px;
    height: 35px;
    border-radius: 15px;
}

.sidebar-username {
    margin-top: -26px;
    margin-bottom: 8px;
    margin-left: 45px;
}

/* Page */
.page {
    width: auto;
    height: 100%;
    margin-top: 46px;
    padding: 2rem 4rem 1rem;
}

#dimmer {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.page-logo {
    margin: 0 auto;
    min-width: 50%;
    max-width: 75%;
}

.page-logo img {
    width: 100%;
    user-select: none;
}

.page-mainbox {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.page-mainbox a {
    text-decoration: underline;
}

/* Modal */
.modal {
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 3.5rem;
    left: 0;
    width: 100%;
    z-index: 10000;
    background: none;
}

.visible {
    display: block;
}

.modal-inside {
    background: #202525;
    border: 1px solid #743c3d;
    box-shadow: 0px 0px 10px #555;
    display: inline-block;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    height: 80%;
    position: relative;
    padding: 15px 5%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal-inside::-webkit-scrollbar {
    width: 0.8em; 
}
.modal-inside::scrollbar { 
    width: 0.8em; 
}

.modal-inside::-webkit-scrollbar-track { 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
.modal-inside::scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.modal-inside::-webkit-scrollbar-thumb { 
    background: #573a39;
}
.modal-inside::scrollbar-thumb {
    background: #573a39;  
}

/* Filtrid */
.buttonsContainer {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    max-width: 900px;
    margin: 0 auto;
}

.buttonsContainer::-webkit-scrollbar {
    height: 0.8em; 
}
.buttonsContainer::scrollbar { 
    height: 0.8em; 
}

.buttonsContainer::-webkit-scrollbar-thumb { 
    background: #573a39;
}
.buttonsContainer::scrollbar-thumb {
    background: #573a39;
}

.game-button {
    min-width: 180px;
    min-height: 60px;
    border-bottom: none;
    cursor: pointer;
}

.game-button:hover, .selectedButton {
    border-bottom: 3px solid #743c3d;
}

#csgoButton, #minecraftButton, #ck2Button, #lolButton, #boardGamesButton {
    background-repeat: no-repeat;
    background-size: 180px 60px;
}

#csgoButton {
    background-image: url(../img/csgo_gs.png);
}
#csgoButton:hover, #csgoButton.selectedButton {
    background-image: url(../img/csgo_c.png);
}
#minecraftButton {
    background-image: url(../img/minecraft_gs.png);
}
#minecraftButton:hover, #minecraftButton.selectedButton {
    background-image: url(../img/minecraft_c.png);
}
#ck2Button {
    background-image: url(../img/crusader_kings_gs.png);
}
#ck2Button:hover, #ck2Button.selectedButton {
    background-image: url(../img/crusader_kings_c.png);
}
#lolButton {
    background-image: url(../img/lol_gs.png);
}
#lolButton:hover, #lolButton.selectedButton {
    background-image: url(../img/lol_c.png);
}
#boardGamesButton {
    background-image: url(../img/lauamängud_gs.png);
}
#boardGamesButton:hover, #boardGamesButton.selectedButton {
    background-image: url(../img/lauamängud_c.png);
}

.selected-filter-button {
    background: #573a39;
    color: white;
}

.filter-button-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

.teamSizeSlider {
    -webkit-appearance: none;
    appearance: none;
    height: 22px;
    background: #333;
    border: 1px solid #743c3d;
    outline: none;
    margin-top: 8px;
}
.teamSizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 22px;
    background: #573a39;
    cursor: pointer;
}
.teamSizeSlider::-moz-range-thumb {
    width: 15px;
    height: 22px;
    background: #573a39;
    cursor: pointer;
}

.team-size-box {
    margin-bottom: 10px;
    height: 20px;
    background: #333;
    border: 1px solid #743c3d;
    color: white;
    position: relative;
    top: -8px;
}

.rankFilters {
    width: auto;
}

.rank-filters {
    font-size: 15px;
}

.rank-col {
    display: inline-flex;
    flex-direction: column;
    width: 32%;
    margin: 0;
}

.rank-col div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkBoxButton {
    border: 1px solid #743c3d;
    padding: 0.5rem;
    color: white;
}

.icon {
    display: flex;
    flex-direction: column;
    height: 60px;
    width: auto;
}

.icon-hidden {
    display: none;
}

/* Gruppide list */
.groups {
    display: flex;
    flex-direction: row;
}

.groups-list-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 1rem;
}

.groups-filters-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 1rem;
}

.groupRequestItem {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    background: #743c3d;
    color: white;
    padding: 0.3rem 0.8rem 0.3rem;
}

.groupRequestItemGame .groupRequestItemData {
    display: flex;
    flex-direction: row;
    padding: 0.4rem;
    margin-left: 1rem;
    width: 30%;
}

.groupRequestItemGame {
    color: black;
}

/** RESPONSIVE **/

@media only screen and (max-width: 600px) {
    .page {
        padding-left: 20px;
        padding-right: 20px;
    }

    .sidebar-overflow {
        display: flex;
    }

    .navbar-left {
        display: none;
    }

    .navbar-logo {
        display: flex;
    }
}